<div>
    <h2>Databinding demo</h2>
    <hr />
    <h3>Interpolation</h3>
    Name is: {{username}}
    <hr />
    <h3>Property binding</h3>
    <input type = "button" value = "ClickHere" [disabled] = "isDisabled">
    <br />
    Value of isDisabled: {{isDisabled}}
    <br />
    <input type = "button" value = "Change" (click) = "handleClick()">
    <h3>Two way databinding</h3>
    <input type = "text" [(ngModel)] = "emailId">
    <input type = "text" [(ngModel)] = "emailId">
    <div>
        <h3 [class.blueColor] = "isDisabled">CSS Class Binding</h3>
    </div>
</div>
