<div>
    <h2>Performing CRUD opertaions on profile component</h2> <hr />

    <!-- this is form-->
    <div class = "row">
        <div class = "col-6">
            <h3>Storing Profile Data</h3> <hr />
            <form [formGroup] = "profile" (ngSubmit) = "save()">
                <label>
                    Id <input type = "text" formControlName = "id"> 
                </label>
                <label>
                    Name <input type = "text" formControlName = "name">
                </label>
                <br />
                <label>
                    DOB <input type = "date" formControlName = "dob">
                </label>
                <label>
                    Phone <input type = "text" formControlName = "phone">
                </label>
                <br />
                <input type = "submit" value = "Store" class = "btn btn-secondary">
                <div class = "alert alert-success" *ngIf = "undefined">{{message}}</div>
            </form>
        </div>
        <div class = "col-6">
            <h3>List all profiles</h3> <hr />
            <button class = "btn btn-primary" (click) = "loadAll()">Load</button>
            <br />
            <table class = "table">
                <tr>
                    <th>Id</th><th>Name</th><th>Dob</th><th>Phone</th>
                    <th>X</th>
                    <th>Update</th>
                </tr>
                <tr *ngFor = "let profile of allProfiles" [hidden] = "updatableTable">
                    <td>{{profile.id}}</td>
                    <td>{{profile.name}}</td>
                    <td>{{profile.dob}}</td>
                    <td>{{profile.phone}}</td>
                    <td><button class = "btn btn-danger" (click) = "delete(profile.id)">Delete</button></td>
                    <td><button class = "btn btn-secondary" (click) = "update()">Update</button></td>
                </tr>
                <tr *ngFor = "let profile of allProfiles" [hidden] = "updatableTable2">
                    <td>{{profile.id}}</td>
                    <td>{{profile.name}}</td>
                    <td><input type = "date" [value] = "profile.dob"></td>
                    <td><input type = "number" [value] = "profile.phone"></td>
                    <td><button class = "btn btn-danger" (click) = "delete(profile.id)">Delete</button></td>
                    <td><button class = "btn btn-secondary" 
                        (click) = "saveUpdate(profile)">Update</button></td>
                </tr>
               
            </table>
        </div>
    </div>
    
</div>
